<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/ionicons/css/ionicons.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>

	{{{body}}}
	
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/socket.io-2.0.4.js"></script>
	<script src="/js/login.js"></script>
</body>
</html>